*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-dark-blue: #00254a;
  --main-med-blue: #45a2ff;
  --main-light-blue: #a4cfff;
  --main-lighter-blue: #c7dffb;
  --main-white: #F6F4F5;
  --main-dark-red: #6f242d;
  --main-med-red: #af2d3a;
  --main-light-red: #b16169;
  --main-light-grey: #d6d6d6;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--main-white);
  color: black;
}

tbody {
  width: 100%;
  height: 100%;
}

th {
  text-align: left;
  border-bottom: var(--main-med-blue) 1px solid;
  padding: 10px;
}

.stock-cell {
  width: 100%;
  padding: 17.5px
}

.back {
  text-align: center;
}

.row:last-child > th {
  border: none
}

.row:hover {
  background-color: #263132;
  cursor: pointer;
}

.light {
  font-weight: lighter;
}

.container {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
}

.nav {
  position: absolute;
  background-color: var(--main-light-blue);
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--main-med-blue) 1px solid;
}

.nav-ul {
  list-style-type: none;
  display: flex;
}

.nav-ul > li {
  height: 45px;
  display: grid;
  place-items: center;
  margin: 0 10px 0 10px
}

.side-bar {
  z-index: -1;
  height: 100%;
  width: 260px;
  border: var(--main-med-blue) 1px solid;
  background-color: var(--main-light-grey);
  color: black;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}

.nav-offset {
  padding-top: 48px;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.auth-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.dashboard-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.dashboard-right {
  height: 100%;
  width: 100%;
  padding: 30px
}

.org-select-container {
  background-color: var(--main-light-blue);
  height: 120px;
  width: 200px;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid var(--main-med-blue);
  cursor: pointer;
}

.org-select-container:hover {
  background-color: var(--main-lighter-blue);
}

.organisation {
  background-color: var(--main-lighter-blue);
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.slogan {
  display: grid;
  place-content: center;
  width: 325px;
  text-align: center;
}

.filler {
  background-color: var(--main-dark-blue);
  height: 7px;
  width: 50px;
  border-radius: 5px;
  justify-self: center;
}

.line {
  background-color: rgb(222, 221, 221);
  height: 350px;
  width: 2px;
}

.form-right {
  display: grid;
  place-content: center;
  width: 350px;
}

.auth-btn {
  color: var(--main-white);
  background-color: var(--main-dark-blue);
  padding: 8px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.auth-link {
  color: var(--main-dark-blue)
}

.logout-btn {
  background-color: var(--main-dark-red);
}

.form-container {
  display: grid;
  place-items: center;
  background-color: var(--main-light-blue);
  border-radius: 10px;
  min-height: 40px;
  width: 300px;
  text-align: left;
  padding: 30px;
  border: var(--main-dark-blue) solid 1px;
}

.form {
  width: 100%;
}

.prompt-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prompt-form > input {
  text-align: center;
}

.long-form {
  width: 65vw;
  height: 60px;
  margin: 20px;
  font-size: 35px;
}

.form-btn {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
}

.form-title {
  margin-bottom: 15px
}

.actions-container {
  background-color: var(--main-light-blue);
  height: 30%;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
}

.action {
  color: var(--main-white);
  border-right: #0f2224 1px solid;
  width: 20%;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.input-label, 
.input-form {
  margin-bottom: 7px;
}

input, textarea {
  background-color : #c2ddff; 
  border: var(--main-dark-blue) solid 1px;
  border-radius: 2px;
  padding: 4px;
  color: black;
}

.login-btn {
  color: var(--main-white);
  width: 48.5%;
  margin-right: 7px;
  height: 30px;
  border-radius: 3px;
  border: none;
  background-color: #254e78;
  cursor: pointer;
}

.signup-btn {
  color: var(--main-white);
  height: 30px;
  width: 48.5%;
  border-radius: 3px;
  border: none;
  background-color: var(--main-dark-blue);
  cursor: pointer;
}

.prompt-btn {
  color: var(--main-white);
  width: 70%;
  margin: 17px;
  height: 45px;
  border-radius: 3px;
  border: none;
  background-color: #254e78;
  cursor: pointer;
}

.org-prompt-btn {
  color: var(--main-white);
  width: 100%;
  margin-top: 20px;
  height: 75px;
  border-radius: 3px;
  border: none;
  background-color: #254e78;
  cursor: pointer;
}

.back {
  background-color: var(--main-dark-blue);
}

.org-form-buttons {
  display: flex;
  width: 90%
}

.signup-btn:hover,
.back:hover,
.auth-btn:hover,
.action:active,
.prompt-btn:hover,
.org-prompt-btn:hover {
  background-color: #0058b0;
}

.signup-btn:active,
.auth-btn:active,
.action:hover,
.prompt-btn:active,
.org-prompt-btn:active {
  background-color: var(--main-dark-blue);
}

.login-btn:hover,
.back:hover {
  background-color: #3772ad;
}

.login-btn:active,
.back:active {
  background-color: #254e78;
}

.logout-btn:hover {
  background-color: var(--main-med-red);
}

.logout-btn:active {
  background-color: var(--main-dark-red);
}

a:link {
  font-size: 14px;
  color: #e4fbf4;
}

a:visited {
  font-size: 14px;
  color: var(--main-dark-blue);
}

.link:link,
.link:visited {
  color: var(--main-white);
  text-decoration: none;
}

.text-error {
  color: var(--main-med-red);
  width: fit-content
}

.negative {
  color: var(--main-med-red)
}

.visibility-hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

.flex {
  display: flex;
}

.flex > input {
  width: 100%
}

.flex > div {
  width: fit-content;
  padding-right: 10px;
}

.text-center {
  text-align: center
}

.alert {
  position: absolute;
  top: 75px;
  left: 25px;
  z-index: 1;
  width: 100vw;
}

.alert > p {
  color: var(--main-white);
  background-color: var(--main-light-red);
  width: fit-content;
  padding: 12px;
  border: var(--main-dark-red) 1px solid;
  border-radius: 10px
}

.alert {
  -webkit-animation: fadeout 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 5s; /* Firefox < 16 */
  -ms-animation: fadeout 5s; /* Internet Explorer */
  -o-animation: fadeout 5s; /* Opera < 12.1 */
  animation: fadeout 5s;
  opacity: 0;
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
